@use "@styles/globals.module.scss";

.banner {
    position: relative;
    .info {
        color: var(--bgColor);
        h1{
            font-size: 48px;
            margin-bottom: 0;
            text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
        }
        p {
            margin: 0;
            font-weight: bold;
            font-size: 32px;
            text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
        }
        position: absolute;
        top: 25%;
        left: 25%;
        z-index: 999;
    }
    .button {
        @include globals.splashButton;
        position: absolute;
        z-index: 999;
        bottom: 32px;
        &.left {
            left: 16px;
        }
        &.right {
            right: 16px;
        }
        &.center {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}