@use "@styles/globals.module.scss";

.mediaEditor {
    .updateButtons {
        text-align: right;
        margin-bottom: 16px;
    }
    :global(.label) {
        margin-top: 8px;
    }
    img {
        width: 100%;
    }
}