@use "@styles/globals.module.scss";

.socialLinks {
    padding: 0 var(--padding) 0 56px;
        font-size: x-large;
    font-weight: bold;
    @media (max-width: 1066px) {
        padding: 0;
        text-align: left;
    }
    * {color: var(--primaryColor);}
    .links {
        display: inline-block;
        max-width: 160px;
        text-align: right;
        a {
            margin: var(--paddingSmall);
            padding: 0;
            display: inline-block;
        }
        img {
            width: 24px;
        }
    }
}
