@use "@styles/globals.module.scss";

.feed {
    .post {
        margin-bottom: var(--padding);
        .header {
            border-bottom: solid 5px var(--borderColor);
            margin-bottom: var(--paddingSmall);
            .date {
                color: var(--textSecondaryColor);
                font-size: 0.9em;
                font-style: italic;
                text-align: right;
            }
        }
        p {
            margin: var(--paddingSmall) 0;
        }
        .embed {
            background-color: #ffffff;
            padding: var(--paddingSmall);
            display: flex;
            flex-wrap: wrap;
            gap: var(--paddingSmall);
            justify-content: center;
            .embedImage {
                width: 100%;
                &:nth-child(n+2) {
                    flex: 1;
                    max-width: 40%;
                }
            }
        }
    }
}