@use "@styles/globals.module.scss";

.mediaManager {
    .searchRow {
        :global(.ant-input-group-wrapper) {
            display: block;
            max-width: 368px;
            margin: var(--padding) auto;
        }
    }
    .mediaList {
        margin-top: var(--padding);
        > * {
            margin-top: var(--padding);
        }
    }
}
