@use "@styles/globals.module.scss";

.entityTagManager {
    .controls {
        text-align: right;
    }
    .tagGroup {
        .tag {
            display: inline-block;
            margin: var(--paddingXS);
        }
    }
}