@use "@styles/globals.module.scss";

.contentManager {
    .pageList {
        list-style-type: none;
        padding: 0;
        border: solid var(--borderColor);
        border-radius: globals.$border-radius;
        li {
            border-bottom: solid var(--borderColor);
            padding: 0;
            &:last-child {
                border-bottom: none;
            }
            a {
                display: block;
                padding: var(--paddingSmall);
                color: var(--textColor);
                text-decoration: none;
                &:hover {
                    background-color: var(--bgLightColor);
                }
            }
        }
    }
}