@use "@styles/globals.module.scss";

.tag {
    display: flex;
    flex-wrap: none;
    position: relative;
    width: 100%;
    background-color: var(--bgLightColor);
    color: var(--primaryColor);
    font-size: 1rem;
    font-weight: 500;
    .icon {
        padding-top: 4px;
        margin-right: 8px;
    }
}