@use "@styles/globals.module.scss";

.setting {
    margin-bottom: var(--padding);
    .colorPicker {
        :global(.ant-color-picker-trigger) {
            display: inline-block;
            margin-bottom: -12px !important;
            width: 40px;
            background-color: transparent !important;
        }
        input {
            width: calc(100% - 40px);
        }
    }
}