@use "@styles/globals.module.scss";

.synonymManager {
    .newSynonymForm {
        margin-bottom: var(--padding);
    }
    .synonymList {
        display: flex;
        flex-wrap: wrap;
        gap: var(--padding);
        > div {
            min-width: 378px;
        }
    }
}