@use "@styles/globals.module.scss";

.synonymManager {
    .newSynonymForm {
        margin-bottom: 16px;
    }
    .synonymList {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        > div {
            min-width: 378px;
        }
    }
}