@use "@styles/globals.module.scss";

.layoutManager {
    .componentList {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        .component {
            flex: 1 1 31%;
            max-width: 31%;
            text-align: center;
            background-color: var(--bgLightColor);
            border: solid 4px var(--borderColor);
            border-radius: var(--borderRadius);
            img {
                display: block;
                width: 100%;
            }
        }
    }
}