@use "@styles/globals.module.scss";

.bannerEditor {
    border: solid 2px var(--borderColor);
    border-radius: globals.$border-radius;
    padding: var(--padding);
    .updateButtons {
        text-align: right;
        margin-bottom: var(--padding);
    }
    :global(.label) {
        margin-top: var(--paddingSmall);
    }
}