@use "@styles/globals.module.scss";

.cacheBtns {
    float: right;
}

.tagGroupList {
    margin: 0;
    .selected {
        background-color: var(--bgColorLight);
    }
    .tagGroup {
        width: 100%;
        padding: 0 !important;
        margin: 0;
        border: solid 1px var(--borderColor);
        padding: var(--paddingSmall) var(--padding);
        position: relative;
        display: flex;
        flex-wrap: nowrap;
    }
}

.tagGroupCard {
    :global(.ant-collapse-header) {
        padding-bottom: 0 !important;
    }
    :global(.ant-collapse-header-text) {
        label {
            overflow: hidden;
        }
        input {
            width: 256px !important;
        }
    }
}