@use "@styles/globals.module.scss";

.tagGroupCard {
    :global(.ant-collapse-header) {
        padding-bottom: 0 !important;
    }
    :global(.ant-collapse-header-text) {
        label {
            overflow: hidden;
        }
        input {
            width: 256px !important;
        }
    }
}